main{
    background-color: $primary-color;
    padding: 20px;
    margin-top: 40px;
    
    h2{
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        text-decoration: double;
    }
    p{
        background-color: bisque;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    section{
        text-align: center;
        color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;
    }
}