$primary-color: aliceblue;

@import "variables";
/* seguir editanto contacto.html y novedades.html */
/* editar lugar de email mas chico para q sea responsive  */
/* alejar email de footer  */
/*  */
body{
    background-color: $primary-color;
     display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    height: auto;
}

header{
    background-color: $primary-color;
    nav{
        background-color: $primary-color;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: flex-end;
        float: right;
        top: 0;
    }
}
main{
    background-color: $primary-color;
    padding: 20px;
    margin-top: 40px;
    
    h2{
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        text-decoration: double;
    }
    p{
        background-color: $primary-color;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    section{
        text-align: center;
        color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }
    .form{ 
        background-color: $primary-color;
    }
}


form{ 
    margin: auto;
 bottom: 0%;
 left: 5%;
 color: black;
 border-radius: 20px;
  border: 40px;
  padding: 30px;
  width: 450px;
  height: 100px;
  box-shadow: 200px;
  line-height: 2;
}

footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: static;
    right: 10%;
    bottom: 20%;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
    img{
        background-color: burlywood;
        align-items: end;
        width: 120px;
        height: 80px;
    }
}
/* botones */
@mixin boton{
    background-color: darkolivegreen;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
}
.btn-primary {
    @include boton()
} 

.fadeIn {
    color: palevioletred;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    animation: myAnimation 1s infinite;
}
@keyframes myAnimation {
    0%{ opacity: 0;}
    100% { opacity: 1;}
}

@media (max-width:768px) {
    footer {
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body, main , form {
        padding-bottom: 200px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    img {
        width: 30%;
    }
}
