$primary-color: aliceblue;


body{
    background-color: $primary-color;
     display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    height: auto;
}

header{
    background-color: $primary-color;
}
main{
    background-color: $primary-color;
    padding: 20px;
    margin-top: 40px;
    
    h2{
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        text-decoration: double;
    }
    p{
        background-color: bisque;
        border-radius: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    section{
        text-align: center;
        color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }
    .form{ 
        background-color: $primary-color;
    }
}


form{
    display: flex;
    justify-content: left;
  background-color: $primary-color;
  color: black;
  border-radius: 10px;
  border: 20px;
  margin: 300px;
  padding: 20px;
  width: 200px;
  height: 30px;
  box-shadow: 50px;
  line-height: 0,5;
}

footer {
    background-color: $primary-color;
    position: fixed;
    right: 0%;
    bottom: 0%;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
    img{
        align-items: end;
        width: 120px;
        height: 80px;
    }
}
@mixin boton{
    background-color: darkolivegreen;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
}
.btn-primary {
    @include boton()
} 

.fadeIn {
    color: red;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    animation: myAnimation 1s infinite;
}
@keyframes myAnimation {
    0%{ opacity: 0;}
    100% { opacity: 1;}
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
        padding: 20px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        padding: 30px;
        flex-direction: row;
        justify-content: space-between;
    }
    img {
        width: 50%;
    }
}
