$primary-color: aliceblue;

@import "variables";

body{
    background-color: $primary-color;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: $primary-color;
    nav{
        background-color:cadetblue;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: flex-end;
    }
}
main{
    background-color: $primary-color;
    padding: 20px;
    margin-top: 40px;
    
    h2{
        margin-bottom: 2rem;
        color: black;
        text-align: center;
        text-decoration: double;
    }
    p{
        background-color: $primary-color;
        border-radius: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
    section{
        text-align: center;
        color: black;
        margin-top: 100px;
        margin-bottom: 150px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }
}


form{ 
 display: flex;
 flex-direction: column;
 gap: 10px;
 max-width: 300px;
 margin-top: 30px;
}

footer {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    color: darkgrey;
    img{
        background-color: burlywood;
        align-items: center;
        width: 120px;
        height: 80px;
    }
    p{
        color: black;
        font-family: cursive;
    }
    aside {
        font-family: cursive;
        color: black;
    }
}
/* botones */
@mixin boton{
    background-color: darkolivegreen;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.5s ease;
}
.btn-primary {
    @include boton()
} 

.fadeIn {
    color: palevioletred;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    animation: myAnimation 1s infinite;
}
@keyframes myAnimation {
    0%{ opacity: 0;}
    100% { opacity: 1;}
}

@media (max-width:768px) {
    footer {
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body, main , form {
        padding-bottom: 200px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
    img {
        width: 30%;
    }
}
